# Librería `pandas`

In [ ]:
# !pip install numpy scipy matplotlib seaborn scikit-learn -q

[`pandas`](https://pandas.pydata.org/) es una librería de Python especializada en el manejo y análisis de estructuras de datos.

Las principales características de esta librería son:
* Define nuevas estructuras de datos basadas en el tipo `array`de la librería *NumPy* pero agregan algunas funcionalidades.
* Permite leer y escribir fácilmente archivos en formato CSV, Excel y bases de datos SQL.
* Permite acceder a los datos mediantes índices o nombres para renglones y columnas.
* Ofrece métodos para reordenar, dividr y combinar conjuntos de datos.
* Permite trabajar con series temporales.

## Lectura de archivos CSV

* Primero, vamos a cargar algunos archivos que vamos a necesitar: `data_xml.xml`, `page.html`, `saleman.txt`, `times.csv`, y `tmdb_5000_movies.csv`. Estos archivos se encuentran en el repositorio de la materia.

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

ModuleNotFoundError: No module named 'google'

* Importamos la librería `pandas` para usarla a lo largo de este cuaderno de trabajo.

In [ ]:
import pandas as pd
import numpy as np

* A continuación, cargueremos los datos del archivo a un `DataFrame` de pandas. Un `DataFrame` es un conjunto de datos estructurado en forma de tabla donde cada renglon corresponde a un registro diferente, y las columnas son las distintas características del registro.

* Un `DataFrame`contiene dos índices, uno para los renglones y otro para las columnas. Se pueden acceder mediante los índices de los renglones y los nombres (o índices) de las columnas.

In [ ]:
df = pd.read_csv('tmdb_5000_movies.csv')
# El método `head` nos permite desplegar las primeras línea de un DataFrame.
df.head(2)

FileNotFoundError: [Errno 2] No such file or directory: 'tmdb_5000_movies.csv'

In [ ]:
# El método `info` nos despliega información sobre el tipo de dato de las columnas (características).
df.info()

In [ ]:
# El método `describe` nos da información estadística básica de las calumnas.
df.describe()

* Usando `pandas` podemos leer cualquier archivo CSV sin importar la extensión que tenga.

In [ ]:
df = pd.read_csv('salesman.txt')
df.head()

* O, incluso, si utilizan separadores diferentes a la `,`.

In [ ]:
df = pd.read_csv('times.csv', sep=';')
df.head()

* También, podemos asignarles nombres a las columnas (si es que no tiene uno asignado).

In [ ]:
df = pd.read_csv('times.csv', sep=';', names=['ID', 'TIME','SCORE','CLASS'])
df.head()

* Algunas veces sólo necesitaremos algunas columnas. Por ejemplo, del archivo `tmdb_5000_movies.csv` sólo necesitamos las columnas `id` (1), `original_title` (6), `popularity` (8), `vote_average` (18), `vote_count` (19).

In [ ]:
df = pd.read_csv('tmdb_5000_movies.csv', usecols=[1, 6, 8, 18, 19])
df.head(2)

## Lectura de archivos HTML

* Podemos usar `pandas` para leer todas las tablas contenidas en un archivo HTML.

In [ ]:
df = pd.read_html('page.html')
print('Total tables:', len(df))
print(df[0])
print(df[1])

In [ ]:
table1 = df[0]
table1.head()

* También, podemos optar sólo extraer alguna tabla en particular (que tenga alguna etiqueta determinada).

In [ ]:
df = pd.read_html('https://en.wikipedia.org/wiki/Economy_of_the_United_States', match='Nominal GDP')
print('Total tables:', len(df))
df_GDP = df[0]
df_GDP.head(4)

## Lectura de archivos XML
* XML es el acrónimo de Extensible Markup Language, es decir, es un lenguaje de marcado que define un conjunto de reglas para la codificación de documentos. El lenguaje de marcado es un conjunto de códigos que se pueden aplicar en el análisis de datos o la lectura de textos creados por computadoras o personas. El lenguaje XML proporciona una plataforma para definir elementos para crear un formato y generar un lenguaje personalizado.

In [ ]:
df = pd.read_xml('data_xml.xml')
df.head()

## Crear `Series` usando una lista de valores

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 9, 11])
s

In [ ]:
s[0]

## Crear un `DataFrame`

* Vamos a crear un `DataFrame` que contenga números aleatorios en donde los índices sean las fechas des el primero de enero de 2020 hasta el 6 de enero de 20202. El `DataFrame` tendrá 4 columnas, llamadas `A`, `B`, `C` y `D`.

In [ ]:
dates = pd.date_range('20200101', periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df.head()

                   A         B         C         D
2020-01-01  0.789088  1.601492 -0.533736  1.118109
2020-01-02 -0.406651  1.563322  1.138195  0.356028
2020-01-03 -0.093066  1.016498 -0.512645  0.688105
2020-01-04 -0.320599  0.931979 -2.051235  0.221298
2020-01-05 -0.830595  0.305530 -0.601467  1.247763

* También, podemos crear un `DataFrame` con diferentes objetos.

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20200101'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': pd.Series(2, index=list(range(4)), dtype='float32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

     A          B    C    D      E    F
0  1.0 2020-01-01  1.0  2.0   test  foo
1  1.0 2020-01-01  1.0  2.0  train  foo
2  1.0 2020-01-01  1.0  2.0   test  foo
3  1.0 2020-01-01  1.0  2.0  train  foo

In [ ]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D          float32
E         category
F           object
dtype: object

## Visualizando los primeros y últimos valores de un `DataFrame`

In [ ]:
df.head(2)

                   A         B         C         D
2020-01-01  0.789088  1.601492 -0.533736  1.118109
2020-01-02 -0.406651  1.563322  1.138195  0.356028

In [ ]:
df.tail(2)

                   A         B         C         D
2020-01-05 -0.830595  0.305530 -0.601467  1.247763
2020-01-06 -0.345935 -0.486864  0.305955 -0.085704

## Transponer la información

* En otras palabras, convertir las columnas en índices y los índices en columnas.

In [ ]:
df.T

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A    0.789088   -0.406651   -0.093066   -0.320599   -0.830595   -0.345935
B    1.601492    1.563322    1.016498    0.931979    0.305530   -0.486864
C   -0.533736    1.138195   -0.512645   -2.051235   -0.601467    0.305955
D    1.118109    0.356028    0.688105    0.221298    1.247763   -0.085704

## Seleccionando columnas

* Para seleccionar lso valores de la columna `A`, tenemos las siguiente opciones:

In [ ]:
df["A"]

2020-01-01    0.789088
2020-01-02   -0.406651
2020-01-03   -0.093066
2020-01-04   -0.320599
2020-01-05   -0.830595
2020-01-06   -0.345935
Freq: D, Name: A, dtype: float64

In [ ]:
df['A']

2020-01-01    0.789088
2020-01-02   -0.406651
2020-01-03   -0.093066
2020-01-04   -0.320599
2020-01-05   -0.830595
2020-01-06   -0.345935
Freq: D, Name: A, dtype: float64

In [ ]:
df.A

2020-01-01    0.789088
2020-01-02   -0.406651
2020-01-03   -0.093066
2020-01-04   -0.320599
2020-01-05   -0.830595
2020-01-06   -0.345935
Freq: D, Name: A, dtype: float64

## Seleccionando renglones

In [ ]:
df[0:3]

                   A         B         C         D
2020-01-01  0.789088  1.601492 -0.533736  1.118109
2020-01-02 -0.406651  1.563322  1.138195  0.356028
2020-01-03 -0.093066  1.016498 -0.512645  0.688105

In [ ]:
df['2020-01-01':'2020-01-03']

                   A         B         C         D
2020-01-01  0.789088  1.601492 -0.533736  1.118109
2020-01-02 -0.406651  1.563322  1.138195  0.356028
2020-01-03 -0.093066  1.016498 -0.512645  0.688105

## Seleccionar por posición

* Si queremos seleccionar los renglones con 2020-01-04 y 2020-01-05 además de las columnas `A` y `B`.

In [ ]:
df.iloc[3:5, 0:2]

                   A         B
2020-01-04 -0.320599  0.931979
2020-01-05 -0.830595  0.305530

* Y, si necesitamos seleccionar el primer valor del primer renglón.

In [ ]:
df.iloc[0,0]

np.float64(0.789088098416167)

## Filtrar valores

* Seleccionar solo aquellas columnas del `DataFrame` `df` que tenga un valor mayor a 0.

In [ ]:
df

                   A         B         C         D
2020-01-01  0.789088  1.601492 -0.533736  1.118109
2020-01-02 -0.406651  1.563322  1.138195  0.356028
2020-01-03 -0.093066  1.016498 -0.512645  0.688105
2020-01-04 -0.320599  0.931979 -2.051235  0.221298
2020-01-05 -0.830595  0.305530 -0.601467  1.247763
2020-01-06 -0.345935 -0.486864  0.305955 -0.085704

In [ ]:
df[df > 0]

                   A         B         C         D
2020-01-01  0.789088  1.601492       NaN  1.118109
2020-01-02       NaN  1.563322  1.138195  0.356028
2020-01-03       NaN  1.016498       NaN  0.688105
2020-01-04       NaN  0.931979       NaN  0.221298
2020-01-05       NaN  0.305530       NaN  1.247763
2020-01-06       NaN       NaN  0.305955       NaN

* Seleecionar los renglones del `DataFrame` `df` en los que la columna `A` sea mayor a 0.

In [ ]:
df[df.B > 0]

                   A         B         C         D
2020-01-01  0.789088  1.601492 -0.533736  1.118109
2020-01-02 -0.406651  1.563322  1.138195  0.356028
2020-01-03 -0.093066  1.016498 -0.512645  0.688105
2020-01-04 -0.320599  0.931979 -2.051235  0.221298
2020-01-05 -0.830595  0.305530 -0.601467  1.247763

* Seleecionmar los renglones del `DataFrame` `df2` donde los valores de la columna `E` tienen los valores `test` u `otro`.

In [ ]:
df2

     A          B    C    D      E    F
0  1.0 2020-01-01  1.0  2.0   test  foo
1  1.0 2020-01-01  1.0  2.0  train  foo
2  1.0 2020-01-01  1.0  2.0   test  foo
3  1.0 2020-01-01  1.0  2.0  train  foo

In [ ]:
df2[df2['E'].isin(['test','otro'])]

     A          B    C    D     E    F
0  1.0 2020-01-01  1.0  2.0  test  foo
2  1.0 2020-01-01  1.0  2.0  test  foo

## Trabajando con información faltante

In [ ]:
df3 = df[df > 0]
df3

                   A         B         C         D
2020-01-01  0.789088  1.601492       NaN  1.118109
2020-01-02       NaN  1.563322  1.138195  0.356028
2020-01-03       NaN  1.016498       NaN  0.688105
2020-01-04       NaN  0.931979       NaN  0.221298
2020-01-05       NaN  0.305530       NaN  1.247763
2020-01-06       NaN       NaN  0.305955       NaN

* Eliminar los renglones en donde no haya información (`NaN`) en alguna columna.

In [ ]:
df3.dropna(how='all')

                   A         B         C         D
2020-01-01  0.789088  1.601492       NaN  1.118109
2020-01-02       NaN  1.563322  1.138195  0.356028
2020-01-03       NaN  1.016498       NaN  0.688105
2020-01-04       NaN  0.931979       NaN  0.221298
2020-01-05       NaN  0.305530       NaN  1.247763
2020-01-06       NaN       NaN  0.305955       NaN

* Rellenar los valores faltantes (`NaN`) con el valor de 10.

In [ ]:
df3.fillna(value=10)

                    A          B          C          D
2020-01-01   0.789088   1.601492  10.000000   1.118109
2020-01-02  10.000000   1.563322   1.138195   0.356028
2020-01-03  10.000000   1.016498  10.000000   0.688105
2020-01-04  10.000000   0.931979  10.000000   0.221298
2020-01-05  10.000000   0.305530  10.000000   1.247763
2020-01-06  10.000000  10.000000   0.305955  10.000000

## Borrando un renglón

In [ ]:
df4 = pd.DataFrame({ 'A': [1,2,3,4, 5],
                   'B': [10,20,30,40, 50],
                   'C': [20,40,60,80, 100]
                  },
                  index=['Linea 1', 'Linea 2', 'Linea 3', 'Linea 4', 'Linea 5'])
df4

         A   B    C
Linea 1  1  10   20
Linea 2  2  20   40
Linea 3  3  30   60
Linea 4  4  40   80
Linea 5  5  50  100

In [ ]:
df5 = df4.drop(df4.index[[4]] )
df5

         A   B   C
Linea 1  1  10  20
Linea 2  2  20  40
Linea 3  3  30  60
Linea 4  4  40  80

## Agrupando valores

In [ ]:
df6 = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                    'B': ['one', 'one', 'two', 'three',
                    'two', 'two', 'one', 'three'],
                    'C': np.random.randn(8),
                    'D': np.random.randn(8)})
df6

     A      B         C         D
0  foo    one -1.501662  0.768396
1  bar    one -1.300010 -0.240571
2  foo    two  1.922394  1.051654
3  bar  three  1.418160  0.263967
4  foo    two -1.211805  0.565247
5  bar    two  0.566697  0.233338
6  foo    one  0.665638  1.674179
7  foo  three  1.603553 -0.092627

* Agrupar los renglones del `DataFrame` `df4` con base a la columna `A` y realizar la suma de las columnas `B` y `C`.

In [ ]:
df6.groupby('A').sum()

                     B         C         D
A
bar        onethreetwo  0.684848  0.256734
foo  onetwotwoonethree  1.478118  3.966848

In [ ]:
df6.groupby('A').mean()

TypeError: agg function failed [how->mean,dtype->object]

* Agrupar los renglones del `DataFrame` `df4` con base a la columna `A` y `B, además realizar la suma de las columnas `C` y `D`.

In [ ]:
df6.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -1.300010 -0.240571
    three  1.418160  0.263967
    two    0.566697  0.233338
foo one   -0.836024  2.442574
    three  1.603553 -0.092627
    two    0.710589  1.616901

## Ordenar

* Ordenar con base a un columna (variable).

In [ ]:
sortA = df6.groupby('A').sum()
sortA = sortA.sort_values(by='A', ascending=False)
sortA

                     B         C         D
A
foo  onetwotwoonethree  1.478118  3.966848
bar        onethreetwo  0.684848  0.256734

* Ordenar con base a varias columnas.

In [ ]:
sortA = df6.groupby(['A','B']).sum()
sortA = sortA.sort_values(by=['A','B'], ascending=True)
sortA

                  C         D
A   B
bar one   -1.300010 -0.240571
    three  1.418160  0.263967
    two    0.566697  0.233338
foo one   -0.836024  2.442574
    three  1.603553 -0.092627
    two    0.710589  1.616901

In [ ]:
sortA = df6.groupby(['A','B']).sum()
sortA = sortA.sort_values(by=['A','B'], ascending=False)
sortA

                  C         D
A   B
foo two    0.710589  1.616901
    three  1.603553 -0.092627
    one   -0.836024  2.442574
bar two    0.566697  0.233338
    three  1.418160  0.263967
    one   -1.300010 -0.240571

## Unión

* `merge` es un método que nos permite unir dos `DataFrame` en uno solo. Para ello, es muy importante que ambos `DataFrame` compartar una columna determinada.

In [ ]:
customer_product = {'Customer_id':pd.Series([1,2,3,4,5,6]),
  'Product':pd.Series(['Oven','Oven','Oven','Television','Television','Television'])}
customer_product = pd.DataFrame(customer_product)
customer_product

   Customer_id     Product
0            1        Oven
1            2        Oven
2            3        Oven
3            4  Television
4            5  Television
5            6  Television

In [ ]:
customer = {'Customer_id':pd.Series([2,4,6]),
    'State':pd.Series(['California','California','Texas'])}
customer = pd.DataFrame(customer)
customer

   Customer_id       State
0            2  California
1            4  California
2            6       Texas

* Realizamos una unión, regresando los valores de la tabla izquierda.

In [ ]:
pd.merge(customer, customer_product, on='Customer_id', how='left')

   Customer_id       State     Product
0            2  California        Oven
1            4  California  Television
2            6       Texas  Television

* Realizamos una unión, regresando los valores de la tabla derecha.

In [ ]:
pd.merge(customer, customer_product, on='Customer_id', how='right')

   Customer_id       State     Product
0            1         NaN        Oven
1            2  California        Oven
2            3         NaN        Oven
3            4  California  Television
4            5         NaN  Television
5            6       Texas  Television

* O, podemos regresar solos los renglones en donde existen coincidencias.

In [ ]:
pd.merge(customer, customer_product, on='Customer_id', how='inner')

   Customer_id       State     Product
0            2  California        Oven
1            4  California  Television
2            6       Texas  Television

## El método `apply`

* Este método es utiliza para aplicar una función a lo largo de un eje de un `DataFrame` o una `Serie`.

In [ ]:
df7 = pd.DataFrame({ 'A': [1,2,3,4],
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  },
                  index=['Linea 1', 'Linea 2', 'Linea 3', 'Linea 4'])
df7

         A   B   C
Linea 1  1  10  20
Linea 2  2  20  40
Linea 3  3  30  60
Linea 4  4  40  80

Es posible aplicar una función sobre un renglón o columna determinada.

In [ ]:
# Función promedio
def custom_mean(row):
    return row.mean()

# axis = 0 - usando los valores de una columna
# axis = 1 - usando los valores de un renglón.
df7['D'] = df7.apply(custom_mean, axis=1)
df7

         A   B   C          D
Linea 1  1  10  20  10.333333
Linea 2  2  20  40  20.666667
Linea 3  3  30  60  31.000000
Linea 4  4  40  80  41.333333

In [ ]:
def custom_sum(col):
    return col.sum()

df7.loc['Sum'] = df7.apply(custom_sum, axis=0)
df7

            A      B      C           D
Linea 1   1.0   10.0   20.0   10.333333
Linea 2   2.0   20.0   40.0   20.666667
Linea 3   3.0   30.0   60.0   31.000000
Linea 4   4.0   40.0   80.0   41.333333
Sum      10.0  100.0  200.0  103.333333

## El método `map'

* El método `map` realiza operaciones sobre una serie de valores (`Serie`).

In [ ]:
s = pd.Series(['estufa','hornito','xbox','switch'])
s

0     estufa
1    hornito
2       xbox
3     switch
dtype: object

* Clasificaremos a cada elementos en electrodomético o consola.

In [ ]:
s.map({'estufa':'electrodoméstico','hornito':'electrodoméstico','xbox':'consola','switch':'consola'})

0    electrodoméstico
1    electrodoméstico
2             consola
3             consola
dtype: object

## El método `applymap`

* Es utilizado para realizar operaciones a través de todo el `DataFrame`.

In [ ]:
df8 = pd.DataFrame({ 'A': [1,2,3,4],
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  },
                  index=['Linea 1', 'Linea 2', 'Linea 3', 'Linea 4'])
df8

         A   B   C
Linea 1  1  10  20
Linea 2  2  20  40
Linea 3  3  30  60
Linea 4  4  40  80

* Calcular el cuadrado de cada número del `DataFrame`.

In [ ]:
df8.apply(np.square)

          A     B     C
Linea 1   1   100   400
Linea 2   4   400  1600
Linea 3   9   900  3600
Linea 4  16  1600  6400

In [ ]:
df8

         A   B   C
Linea 1  1  10  20
Linea 2  2  20  40
Linea 3  3  30  60
Linea 4  4  40  80