# Actividad - Librería `pandas`

In [ ]:
# !pip install numpy scipy matplotlib seaborn scikit-learn -q

* **Nombre:**
* **Matrícula:**

In [ ]:
import pandas as pd
import numpy as np

**Entregar:** Una vez que hayas terminado, sube el Cuaderno en la actividad correspondiente en Canvas. **Nota:** Recuerda habrá una penalización de **40** puntos si la actividad fue entregada fuera de la fecha límite.

1. Subir el archivo `netflix_titles.csv` que se encuentra en el repositorio de la clase y cargalos en un `DataFrame`.

In [ ]:
df =

2. Desplegar las primeras 5 líneas del `DataFrame`.

3. Implementa una función que despliegue el primer renglon de un `DataFrame`.

In [ ]:
def the_first():
  return

the_first()

4. Implementa una función que regrese el número de registros en el `DataFrame`.

In [ ]:
def row_number():
  return

row_number()

5. Implementa una función que despliega las películas con un `release_year` determinado.

In [ ]:
def released_year(year):
  return

year_query = 2020
released_year(year_query)

6. Implementa una función que despliegue las películas que son de un país determinado.

In [ ]:
def origin_country(country):
  return

country_query = 'Mexico'
origin_country(country_query)

7. Crea un nuevo `DataFrame` que sólo contenga las columnas `type`, `title`, `country` y `release_year`.

8. Despliega, cuantos tipos de producciones (`type`) se hicieron por país determinado (`country`).

# 9. Implementa la función que genera el cuadrado de un número.

In [ ]:
def square(x):
  return

10. Usando el método `apply`, genera el cuadrado de todos los valores del siguiente `DataFrame`.

In [ ]:
df2 = pd.DataFrame({'A': [1, 2, 3, 5, 6], 'B': [10, 20, 30, 40, 50]})
df2

   A   B
0  1  10
1  2  20
2  3  30
3  5  40
4  6  50